*,
*::before,
*::after {
  /* outline: 2px solid lime; */
  /* background-color: hsl(0 100% 50% / .1);*/
} 

.wrapper {
  margin-inline: auto;
  max-width: 50rem;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}

.centered {
  text-align: center;
  margin-inline: auto;
  max-width: 50rem;
}

.tabs{
  --bg-offset: 0%;
  margin-block: 1em;
  overflow: hidden;
  position: relative;
  width: fit-content;
  border-radius: 0.5rem;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.137);
}

.tabs::after {
  content: "";
  width: 50%;
  height: 100%;
  background: rgba(44, 222, 115, 0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: var(--bg-offset);
  transition: left 0.3s;
}

.tab{
  background-color: transparent;
  border: 0;
  width:max-content;
  padding: 0.75rem 1.5rem;
}