*,
*::before,
*::after {
  /* outline: 2px solid lime; */
  /* background-color: hsl(0 100% 50% / .1); */
}

.wrapper {
  margin-inline: auto;
  max-width: 50rem;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}

.centered {
  text-align: center;
}

.kana-btn,
.kana-btn-selected {
  background-color: #f5f5dc;
  border-color: #dadab6;
  border-bottom: 5px outset #fdfd69;
  border-radius: 8px;
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}

.kana-btn-selected {
    background-color: lightcyan;
    border-color: #96ABAB;
    border-bottom-color: lightcyan;
}

.kana-btn:disabled {
    background-color: #a7a7a750;
    border:0px;
    pointer-events: none;
}

.kana-btn-selected:hover,
.kana-btn:hover {
    font-weight: bold;
    background-color: lightcyan;
    border-color: #96ABAB;
    border-bottom-color: lightcyan;
}
.kana-btn:active,
.kana-btn-selected:active {
    margin-top: 4px;
    height: calc(5rem - 5px);
    border: 1px solid #96ABAB;
}